#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC   &kp N1   &kp N2   &kp BSPC
                &kp TAB   &kp Q    &kp W    &kp ENTER
                &kp LCTRL &kp A    &kp S    &kp D
                &kp LSHFT &kp Z    &kp X    &kp SPACE
            >;
        };
    };
};
